<div class="card card-fhir-resource">
  <div class="card-header" (click)="isCollapsed = ! isCollapsed">
    <div>
      <h6 class="card-title">{{displayModel?.code_text || 'Condition'}}</h6>
      @if (displayModel?.onset_datetime || displayModel?.date_recorded) {
        <p class="card-text tx-gray-400"><strong>Onset</strong> {{(displayModel?.onset_datetime || displayModel?.date_recorded) | date}}</p>
      }
    </div>
    <fhir-ui-badge class="float-end" [status]="$safeNavigationMigration(displayModel?.clinical_status)">{{displayModel?.clinical_status}}</fhir-ui-badge>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="card-body">
    <fhir-ui-table [displayModel]="displayModel" [tableData]="tableData"></fhir-ui-table>
  </div>
  @if (showDetails) {
    <div class="card-footer">
      <a class="float-end" [routerLink]="['/explore', $safeNavigationMigration(displayModel?.source_id), 'resource', $safeNavigationMigration(displayModel?.source_resource_id)]">details</a>
    </div>
  }
</div>
