<div class="card card-dashboard-seven mb-3">
  <div class="card-header tx-medium">
    <div class="row cursor-pointer" [routerLink]="['/explore', $safeNavigationMigration(conditionDisplayModel?.source_id), 'resource', $safeNavigationMigration(conditionDisplayModel?.source_resource_id)]" role="link">
      <!-- Condition Header -->
      <div class="col-6">
        {{conditionDisplayModel?.sort_title ? conditionDisplayModel?.sort_title : (conditionGroup | fhirPath: "Condition.code.text.first()":"Condition.code.coding.display.first()")}}
      </div>
      <div class="col-6">
        {{$safeNavigationMigration(conditionDisplayModel?.onset_datetime) | date }} @if (conditionDisplayModel?.abatement_datetime) {
        <span>- {{$safeNavigationMigration(conditionDisplayModel?.abatement_datetime) | date}}</span>
      }
    </div>
  </div>
</div><!-- card-header -->
<div class="card-body">

  <div class="row">
    <!-- Condition Details -->
    <!--      {{conditionDisplayModel | json}}-->
    <div class="col-6 mb-2">

      <!-- US Core 9.0.0 Must-Support: category (problem-list-item vs health-concern), clinical & verification status (#143) -->
      @if (conditionDisplayModel?.categories?.length || conditionDisplayModel?.clinical_status || conditionDisplayModel?.verification_status) {
        <div class="row ps-3 mb-2">
          <div class="col-12">
            @for (category of conditionDisplayModel?.categories; track category) {
              <span class="badge text-bg-light mg-r-5">{{ category }}</span>
            }
            @if (conditionDisplayModel?.clinical_status) {
              <span class="badge text-bg-secondary mg-r-5">{{ conditionDisplayModel.clinical_status | titlecase }}</span>
            }
            @if (conditionDisplayModel?.verification_status) {
              <span class="badge text-bg-info">{{ conditionDisplayModel.verification_status | titlecase }}</span>
            }
          </div>
        </div>
      }

      @if (involvedInCare.length > 0) {
        <div class="row  ps-3">
          <div class="col-12 mt-3 mb-2 tx-indigo">
            <p>Involved in Care</p>
          </div>
          @for (practitioner of involvedInCare; track practitioner) {
            <div class="col-6" [ngClass]="{'cursor-pointer': !!practitioner.displayModel}" [disablePopover]="!!!practitioner.displayModel" [ngbPopover]="practitionerPopoverContent" placement="top-left" popoverClass="card-fhir-resource-popover">
              <strong>{{practitioner.displayName}}</strong>
            </div>
            <div class="col-6" [ngClass]="{'cursor-pointer': !!practitioner.displayModel}" [disablePopover]="!!!practitioner.displayModel" [ngbPopover]="practitionerPopoverContent" placement="top-left" popoverClass="card-fhir-resource-popover">
              {{practitioner.role}}
              <!-- TODO: add email address link here -->
            </div>
            <ng-template #practitionerPopoverContent>
              <fhir-card [displayModel]="practitioner.displayModel"></fhir-card>
            </ng-template>
          }
          @if (conditionDisplayModel.code_id && conditionDisplayModel.code_system) {
            <div class="col-12  mt-3 mb-2">
              <p class="tx-indigo">Definition</p>
              <app-glossary-lookup [code]="conditionDisplayModel.code_id" [codeSystem]="conditionDisplayModel.code_system"></app-glossary-lookup>
            </div>
          }
        </div>
      }

      @if (conditionGroup?.related_resources?.length > 0) {
        <div class="row pt-2">
          <div class="col-12">
            <a class="cursor-pointer tx-indigo" (click)="collapse.toggle()">show all</a>
            <div #collapse="ngbCollapse" [ngbCollapse]="true">
              <ul>
                @for (resourceEntry of resourcesLookup | keyvalue; track resourceEntry) {
                  <li >
                    <a class="cursor-pointer tx-indigo" [routerLink]="resourceEntry.key">
                      {{resourceEntry.value.source_resource_type | resourceTypeLabel}} {{resourceEntry.value.sort_title ? '- '+resourceEntry.value.sort_title : '' }}
                    </a>
                  </li>
                }
              </ul>
            </div>
          </div>
        </div>
      }


    </div>
    <div class="col-6 bg-gray-100">
      <div class="row">

        @for (encounter of encounters; track encounter) {
          <div [routerLink]="['/explore', $safeNavigationMigration(encounter?.source_id), 'resource', $safeNavigationMigration(encounter?.source_resource_id)]" class="col-6 mt-3 mb-2 tx-indigo" role="link">
            <strong>{{encounter.period_start | date}}</strong>
          </div>
          <div [routerLink]="['/explore', $safeNavigationMigration(encounter?.source_id), 'resource', $safeNavigationMigration(encounter?.source_resource_id)]" class="col-6 mt-3 mb-2 tx-indigo" role="link">
            <small>{{encounter.location_display }}</small>
          </div>
          @if (encounter?.related_resources?.MedicationRequest || encounter?.related_resources?.Medication) {
            <div class="col-12 mt-2 mb-2">
              <strong>Medications:</strong>
              <ul>
                @for (medication of encounter?.related_resources?.MedicationRequest; track medication) {
                  <li class="cursor-pointer" [ngbPopover]="medicationRequestPopoverContent" placement="top-left" popoverClass="card-fhir-resource-popover">
                    {{medication.display }}
                    <ng-template #medicationRequestPopoverContent>
                      <fhir-card [displayModel]="medication"></fhir-card>
                    </ng-template>
                  </li>
                }
                @for (medication of encounter?.related_resources?.Medication; track medication) {
                  <li class="cursor-pointer" [ngbPopover]="medicationPopoverContent" placement="top-left" popoverClass="card-fhir-resource-popover">
                    {{medication.title }}
                    <ng-template #medicationPopoverContent>
                      <fhir-card [displayModel]="medication"></fhir-card>
                    </ng-template>
                  </li>
                }
              </ul>
            </div>
          }
          @if (encounter?.related_resources?.Procedure; as procedures) {
            <div class="col-12 mt-2 mb-2">
              <strong>Procedures:</strong>
              <ul>
                @for (procedure of procedures; track procedure) {
                  <li class="cursor-pointer" [ngbPopover]="procedurePopoverContent" placement="top-left" popoverClass="card-fhir-resource-popover" >
                    {{procedure.display}}
                    <ng-template #procedurePopoverContent>
                      <fhir-card [displayModel]="procedure"></fhir-card>
                    </ng-template>
                  </li>
                }
              </ul>
            </div>
          }
          @if (encounter?.related_resources?.DiagnosticReport; as diagnosticReports) {
            <div class="col-12 mt-2 mb-2">
              <strong>Tests and Examinations:</strong>
              <ul>
                @for (diagnosticReport of diagnosticReports; track diagnosticReport) {
                  <li class="cursor-pointer" [ngbPopover]="diagnosticReportPopoverContent" placement="top-left" popoverClass="card-fhir-resource-popover">
                    {{diagnosticReport.sort_title || diagnosticReport.title}}
                    <ng-template #diagnosticReportPopoverContent>
                      <fhir-card [displayModel]="diagnosticReport"></fhir-card>
                    </ng-template>
                  </li>
                }
              </ul>
            </div>
          }
          @if (encounter?.related_resources?.DocumentReference; as documentReferences) {
            <div class="col-12 mt-2 mb-2">
              <strong>Attachments:</strong>
              <ul>
                @for (documentReference of documentReferences; track documentReference) {
                  <li class="cursor-pointer" [ngbPopover]="documentReferencePopoverContent" placement="top-left" popoverClass="card-fhir-resource-popover">
                    {{documentReference.sort_title || documentReference.title}}
                    <ng-template #documentReferencePopoverContent>
                      <fhir-card [displayModel]="documentReference"></fhir-card>
                    </ng-template>
                  </li>
                }
              </ul>
            </div>
          }
          @if (encounter?.related_resources?.Device; as devices) {
            <div class="col-12 mt-2 mb-2">
              <strong>Device:</strong>
              <ul>
                @for (device of devices; track device) {
                  <li [routerLink]="['/explore', $safeNavigationMigration(device?.source_id), 'resource', $safeNavigationMigration(device?.source_resource_id)]" role="link">
                    {{device.model}}
                  </li>
                }
              </ul>
            </div>
          }
        }
      </div>
    </div>
  </div>


</div><!-- card-body -->
</div>
