<ng-template #rt let-r="result" let-t="term">
  <span>{{r.text}}</span> @if (r.subtext) {
  <span>&nbsp;({{r.subtext}})</span>
}
</ng-template>

<input
  type="text"
  class="form-control"
  [class.is-invalid]="showError"
  [(ngModel)]="searchResult"
  [ngbTypeahead]="search"
  [inputFormatter]="formatter"
  [resultTemplate]="rt"
  (ngModelChange)="typeAheadChangeEvent($event)"
  (click)="typeAheadClickEvent($event)"
  (focus)="typeAheadFocusEvent($event)"
  placeholder="Search"
  #instance="ngbTypeahead"
  [disabled]="disabled"
  />
@if (searching) {
  <small class="form-text text-muted">searching...</small>
}
@if (searchFailed) {
  <div class="invalid-feedback">Sorry, suggestions could not be loaded.</div>
}

@if (debugMode) {
  <div class="alert alert-warning">
    <pre><code language="json" [highlight]="searchResult | json"></code></pre>
  </div>
}
