<div class="toast-container">
  @for (toast of toastService.toasts; track toast) {
    <ngb-toast
      [class]="toast.displayClass"
      [autohide]="toast.autohide"
      [delay]="toast.delay || 5000"
      (hidden)="toastService.remove(toast)"
      >
      <ng-template ngbToastHeader>
        <h6 class="tx-inverse tx-14 mg-b-0 mg-r-auto">{{toast.title}}</h6>
        <small>{{toast.event_date | timeAgo}}</small>
      </ng-template>
      {{ toast.message }}
      @if (toast.link) {
        <br/>
        <a [routerLink]="toast.link.url" class="toast-link text-light tx-bold cursor-pointer">{{toast.link.text}}</a>
      }
    </ngb-toast>
  }
</div>

