<div class="card card-fhir-resource">
  <div class="card-header" (click)="isCollapsed = ! isCollapsed">
    <div>
      <h6 class="card-title">{{displayModel?.display}}</h6>
      @if (displayModel?.effective_date) {
        <p class="card-text tx-gray-400"><strong>Effective</strong> {{$safeNavigationMigration(displayModel?.effective_date) | date}}</p>
      }
    </div>
    <fhir-ui-badge class="float-end" [status]="$safeNavigationMigration(displayModel?.status)">{{displayModel?.status}}</fhir-ui-badge>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="card-body">
    @if (!(resourceCode && resourceCodeSystem)) {
      <p class="az-content-text mg-b-20">A record of a medication the patient is taking, has taken, or will take — including self-reported and over-the-counter medications.</p>
    } @else {
      <app-glossary-lookup class="az-content-text mg-b-20" [code]="resourceCode" [codeSystem]="resourceCodeSystem"></app-glossary-lookup>
    }
    <fhir-ui-table [displayModel]="displayModel" [tableData]="tableData"></fhir-ui-table>
  </div>
  @if (showDetails) {
    <div class="card-footer">
      <a class="float-end" [routerLink]="['/explore', $safeNavigationMigration(displayModel?.source_id), 'resource', $safeNavigationMigration(displayModel?.source_resource_id)]">details</a>
    </div>
  }
</div>

