<div class="modal-header">
  <h4 class="modal-title"> Condition Editor </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        <strong>Create Group</strong> If you have Conditions & Encounters from multiple healthcare providers that are related,
        you can group them together by using the checkboxes below. You can also provide a new name for this new group.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="input-group mb-3">
        <span class="input-group-text">Group Title</span>
        <input type="text" class="form-control" placeholder="provide a name for your new group" [(ngModel)]="compositionTitle" [disabled]="(selectedResources | keyvalue)?.length == 0" >
      </div>
    </div>
  </div>

  <div class="related-tree">
    <ng-container *ngFor="let node of nodes">
      <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: node, depth: 0 }"></ng-container>
    </ng-container>
  </div>

  <ng-template #treeNode let-node let-depth="depth">
    <div class="tree-node" [style.padding-left.px]="depth * 20">
      <button *ngIf="node.children?.length; else toggleSpacer" type="button" class="tree-toggle"
              (click)="node.expanded = !node.expanded" [attr.aria-expanded]="node.expanded">
        <i class="fas" [ngClass]="node.expanded ? 'fa-caret-down' : 'fa-caret-right'"></i>
      </button>
      <ng-template #toggleSpacer><span class="tree-toggle"></span></ng-template>
      <input *ngIf="node.show_checkbox" type="checkbox" class="tree-checkbox"
             (change)="onResourceCheckboxClick($event, node)">
      <span class="tree-label">{{ node.name }}</span>
    </div>
    <ng-container *ngIf="node.expanded">
      <ng-container *ngFor="let child of node.children">
        <ng-container *ngTemplateOutlet="treeNode; context: { $implicit: child, depth: depth + 1 }"></ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-az-primary" [disabled]="!compositionTitle"  (click)="onMergeResourcesClick()">Merge Selected</button>
  <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>


